[Unit]
Description=Redis Datastore Server
Documentation=man:redis-server(1)
After=network.target

[Service]
Type=forking
PIDFile={{ redis_pidfile }}
ExecStartPre=/bin/mkdir -p /var/run/redis
ExecStartPre=/bin/chown {{ redis_user }}:{{ redis_group }} /var/run/redis
ExecStart=/sbin/start-stop-daemon --start --chuid {{ redis_user }}:{{ redis_group }} --pidfile {{ redis_pidfile }} --umask 007 --exec {{ redis_install_dir }}/bin/redis-server -- /etc/redis/{{ redis_port }}.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target